
:root {
    --first-color:#defcf9;
    --second-color: #cadefc;
    --third-color: #c3bef0;
    --fourth-color: #c1d4f0;
}



body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    
}

.header {
    flex: 1;
    display: flex;
    max-height: 75px;
}

.left-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #defcf9;
}


.other-component {
    display: flex;
    gap:32px;
}

.right-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#defcf9;
}


.auth-component {
    gap: 32px;
}

.auth-component {
    display: flex;
}

li {
    list-style-type: none;
}




.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}




.carousel-container {
 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;


}


.carousel-container-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.slick-list {
    max-width: 500px;
    position: relative;
    margin: auto;
}





.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


.footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cca8e9;
    max-height: 50px;
    gap: 8px;
}

.bookPopUp {
    position: relative;
    text-align: center;
    background-color: var(--fourth-color);
}

.formPopUp {
    display: none;
    position: fixed;
    transform: translate(-50%, 5%);
    border: solid 1px black;
    background-color: var(--fourth-color);
}
